*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    background-image: url('images/wp9291612.webp');
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: scroll;
    width: 100%;
    color: #180303;
    position: relative;
}

div{
   
}

h1{
    padding-top: 50px;
    padding-left: 50PX;
    color: transparent;
    font-size: 100px;
    -webkit-text-stroke: 1px black;
    background: url(images/fireplace-love.gif);
    -webkit-background-clip: text;
    background-position: -2px;
    animation-duration: 2s;
    animation-name: slidein;
    scroll-behavior: smooth;
}

@keyframes slidein{
    from{
        margin-left: 50%;
    }
    to{
        margin-left: 0%;
    }
}

h2{
    padding-left: 200PX;
    color: transparent;
    font-size: 100px;
    -webkit-text-stroke: 1px black;
    background: url(images/fireplace-love.gif);
    -webkit-background-clip: text;
    background-position: 2px;
    animation-duration: 2s;
    animation-name: slidein;
}

h3{
    padding-top: 150px;
    padding-left: 100PX;
    color: transparent;
    font-size: 50px;
    -webkit-text-stroke: 1px #fff;
    background: url(images/9PrC.gif);
    -webkit-background-clip: text;
    background-position: 2px;
    animation-duration: 2.5s;
    animation-name: slidei;
    
}

h5{
    padding-top: 10px;
    padding-left: 100PX;
    color: transparent;
    font-size: 30px;
    -webkit-text-stroke: 1px #fff;
    background: url(images/9PrC.gif);
    -webkit-background-clip: text;
    background-position: 2px;
    animation-duration: 3s;
    animation-name: slidei;
    
}


@keyframes slidei{
    from{
        margin-left: 50%;
    }
    to{
        margin-left: 0%;
    }
}

img.tanjiro-png{
    width: 400px;
    height: 600px;
    margin-left: 850px;
    margin-top: -400px;
    margin-bottom: 0px;
    animation-duration: 3s;
    animation-name: slide-in;
    
}

@keyframes slide-in{
    from{
        margin-top: 50%;
    }
    to{
        margin-top: -26.3%;
    }
}

.fire-png{
    width: 350px;
    height: 100px;
    position: relative;
    margin-right: -10px;
    margin-left: 792px;
    margin-top: -560px;
    margin-bottom: 460px;
    transform: rotate(69.9deg);
    opacity: 0;
}    

.fire-png:hover{
    opacity: 1;
    transition: opacity 1s;
}

.chara{
    margin-left: 350px;
}

img.rengoku-png{
    
div.chara{
    
}

